@font-face {
    font-family: "mtavruli";
    src: url("bpg_extrasquare_mtavruli.ttf");
}

* {
    margin: 0;
    box-sizing: border-box;
    
  }

body{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.territoryTitle {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 4vh;
    font-size: 2vw;
    font-family: "mtavruli";
    color: #313030;
}

.flex_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.graph_container {
    margin-left: 6vw;
    width: 41vw;
    height: 100%;
    margin-right: 3vw;
}

.map_container {
    width: 28vw;
    height: 100%;
    margin-right: 6vw;
}

.years_grid {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-gap: 10px

}

.previous {
    background: url(arrow_previous.svg) no-repeat;
    border: none;
    background-size: 100% 100%;
    cursor: pointer;
    
 }

 .next {
    background: url(arrow_next.svg) no-repeat;
    border: none;
    background-size: 100% 100%;
    cursor: pointer;
    
 }

 .years_grid > * {
    font-family: "mtavruli";
    color: #313030;
  }

  .year_2013, .year_2014, .year_2015, .year_2016, .year_2017, .year_2018, .year_2019, .year_2020, .year_2021 {
      border-style: solid;
      border-radius: 5px;
      border-width: 1px;
      padding: 5px;
  }

  .selectedYear {
      background-color: #F4Bd3e;
      border-style: solid;
  }


  /* maps */

  #myImg {
      width: inherit;
  }
  

